.center-button {
  text-align: center;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
}

iframe {
  width: 100%;
}

a {
  text-decoration: none;
}
